@page
@model ChinookHTMX.Pages.Invoices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.BillingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.BillingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.BillingCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.BillingCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.BillingState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.BillingState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.BillingCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.BillingCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.BillingPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.BillingPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Invoice.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>