@page
@model ChinookHTMX.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Invoices</h4>
            </div>
            <div class="card-body">
                <p>
                    <button hx-get="@Url.PageLink("Create")"
                            hx-target="#modal"
                            hx-swap="innerHTML"
                            class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-flag"></i>
                        </span>
                        <span class="text">Create New Invoice</span>
                    </button>
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].InvoiceDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].BillingAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].BillingCity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].BillingState)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].BillingCountry)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].BillingPostalCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoices[0].Customer)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Invoices)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillingAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillingCity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillingState)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillingCountry)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillingPostalCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.Id)
                                </td>
                                <td>
                                    <button hx-get="@Url.PageLink("Edit", values: new { item.Id })"
                                            hx-target="#modal"
                                            hx-swap="innerHTML"
                                            class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Edit</span>
                                    </button>
                                    <button hx-get="@Url.PageLink("Details", values: new { item.Id })"
                                            hx-target="#modal"
                                            hx-swap="innerHTML"
                                            class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Details</span>
                                    </button>
                                    <button hx-get="@Url.PageLink("Delete", values: new { item.Id })"
                                            hx-target="#modal"
                                            hx-swap="innerHTML"
                                            class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Delete</span>
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<div id="modal"></div>