@page
@model ChinookHTMX.Pages.Tracks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Track</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.Composer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.Composer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.Milliseconds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.Milliseconds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.Bytes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.Bytes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.Album.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.Genre.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.MediaType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.MediaType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Track.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>