@model ChinookHTMX.Entities.Invoice
@{
    var id = $"invoice-{Model.Id}";
}

<tr id="@id">
    <td>
        @Model.InvoiceDate
    </td>
    <td>
        @Model.BillingAddress
    </td>
    <td>
        @Model.BillingCity
    </td>
    <td>
        @Model.BillingState
    </td>
    <td>
        @Model.BillingCountry
    </td>
    <td>
        @Model.BillingPostalCode
    </td>
    <td>
        @Model.Total.ToString("C")
    </td>
    <td>
        @Model.Customer.LastName
    </td>
    <td class="has-text-right">
        <button hx-get="@Url.Page("Index", "Edit", new { Model.Id })"
                hx-swap="outerHTML"
                hx-target="closest tr"
                class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Edit</span>
        </button>
    </td>
</tr>