@page
@model htmx_examples.Pages.InlineValidation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Signup Form</h3>
<form method="post">
    @Html.AntiForgeryToken()
    <partial name="_EmailField" model="@Model.Contact?.Email" />
    <div class="form-group">
        <label asp-for="@Model.Contact.FirstName">First Name</label>
        <input type="text" class="form-control" asp-for="@Model.Contact.FirstName">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contact.LastName">Last Name</label>
        <input type="text" class="form-control" asp-for="@Model.Contact.LastName">
    </div>
    <button class="btn btn-default">Submit</button>
</form>


