@page
@model ChinookHTMX.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Fax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Fax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.ReportsToNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ReportsToNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>