@page
@model ChinookHTMX.Pages.InvoiceLines.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvoiceLine</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.Invoice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.Invoice.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.Track)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.Track.Id)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="InvoiceLine.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>