@page
@model ChinookHTMX.Pages.InvoiceLines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvoiceLine</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.Invoice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.Invoice.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLine.Track)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLine.Track.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InvoiceLine.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>